<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meta</key>
	<dict>
		<key>capitalizeFirstLetter</key>
		<true/>
	</dict>
	<key>v5</key>
	<dict>
		<key>arrive</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Has llegado a tu {nth} destino</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>Has llegado a tu {nth} destino, a la izquierda</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>Has llegado a tu {nth} destino, a la derecha</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Has llegado a tu {nth} destino, a la izquierda</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Has llegado a tu {nth} destino, a la derecha</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Has llegado a tu {nth} destino, a la izquierda</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Has llegado a tu {nth} destino, a la derecha</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>Has llegado a tu {nth} destino, en frente</string>
			</dict>
		</dict>
		<key>constants</key>
		<dict>
			<key>direction</key>
			<dict>
				<key>east</key>
				<string>este</string>
				<key>north</key>
				<string>norte</string>
				<key>northeast</key>
				<string>noreste</string>
				<key>northwest</key>
				<string>noroeste</string>
				<key>south</key>
				<string>sur</string>
				<key>southeast</key>
				<string>sureste</string>
				<key>southwest</key>
				<string>suroeste</string>
				<key>west</key>
				<string>oeste</string>
			</dict>
			<key>lanes</key>
			<dict>
				<key>ox</key>
				<string>Mantente a la izquierda</string>
				<key>oxo</key>
				<string>Mantente a la izquierda o a la derecha</string>
				<key>xo</key>
				<string>Mantente a la derecha</string>
				<key>xox</key>
				<string>Mantente en el medio</string>
			</dict>
			<key>modifier</key>
			<dict>
				<key>left</key>
				<string>a la izquierda</string>
				<key>right</key>
				<string>a la derecha</string>
				<key>sharp left</key>
				<string>cerrada a la izquierda</string>
				<key>sharp right</key>
				<string>cerrada a la derecha</string>
				<key>slight left</key>
				<string>ligeramente a la izquierda</string>
				<key>slight right</key>
				<string>ligeramente a la derecha</string>
				<key>straight</key>
				<string>recto</string>
				<key>uturn</key>
				<string>cambio de sentido</string>
			</dict>
			<key>ordinalize</key>
			<dict>
				<key>1</key>
				<string>1ª</string>
				<key>10</key>
				<string>10ª</string>
				<key>2</key>
				<string>2ª</string>
				<key>3</key>
				<string>3ª</string>
				<key>4</key>
				<string>4ª</string>
				<key>5</key>
				<string>5ª</string>
				<key>6</key>
				<string>6ª</string>
				<key>7</key>
				<string>7ª</string>
				<key>8</key>
				<string>8ª</string>
				<key>9</key>
				<string>9ª</string>
			</dict>
		</dict>
		<key>continue</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Gire {modifier}</string>
				<key>destination</key>
				<string>Gire {modifier} hacia {destination}</string>
				<key>exit</key>
				<string>Gire {modifier} en {way_name}</string>
				<key>name</key>
				<string>Cruce {modifier} en {way_name}</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Gire a la izquierda</string>
				<key>destination</key>
				<string>Gire a la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Gire a la izquierda en {way_name}</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Gire a la derecha</string>
				<key>destination</key>
				<string>Gire a la derecha hacia {destination}</string>
				<key>name</key>
				<string>Gire a la derecha en {way_name}</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Gire a la izquierda</string>
				<key>destination</key>
				<string>Gire a la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Doble levemente a la izquierda en {way_name}</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Gire a la izquierda</string>
				<key>destination</key>
				<string>Gire a la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Doble levemente a la derecha en {way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>Continúe recto</string>
				<key>destination</key>
				<string>Continúe hacia {destination}</string>
				<key>distance</key>
				<string>Continúe recto por {distance}</string>
				<key>name</key>
				<string>Continúe en {way_name}</string>
				<key>namedistance</key>
				<string>Continúe recto en {way_name} por {distance}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>Haz un cambio de sentido</string>
				<key>destination</key>
				<string>Haz un cambio de sentido hacia {destination}</string>
				<key>name</key>
				<string>Haz un cambio de sentido y continúe en {way_name}</string>
			</dict>
		</dict>
		<key>depart</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Dirígete al {direction}</string>
				<key>name</key>
				<string>Dirígete al {direction} por {way_name}</string>
			</dict>
		</dict>
		<key>end of road</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Al final de la calle gira {modifier}</string>
				<key>destination</key>
				<string>Al final de la calle gira {modifier} hacia {destination}</string>
				<key>name</key>
				<string>Al final de la calle gira {modifier} por {way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>Al final de la calle continúa recto</string>
				<key>destination</key>
				<string>Al final de la calle continúa recto hacia {destination}</string>
				<key>name</key>
				<string>Al final de la calle continúa recto por {way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>Al final de la calle haz un cambio de sentido</string>
				<key>destination</key>
				<string>Al final de la calle haz un cambio de sentido hacia {destination}</string>
				<key>name</key>
				<string>Al final de la calle haz un cambio de sentido en {way_name}</string>
			</dict>
		</dict>
		<key>exit rotary</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Siga {modifier}</string>
				<key>destination</key>
				<string>Siga {modifier} hacia {destination}</string>
				<key>name</key>
				<string>Siga {modifier} en {way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>Gire a la izquierda</string>
				<key>destination</key>
				<string>Gire a la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Gire a la izquierda en {way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>Gire a la derecha</string>
				<key>destination</key>
				<string>Gire a la derecha hacia {destination}</string>
				<key>name</key>
				<string>Gire a la derecha en {way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>Ve recto</string>
				<key>destination</key>
				<string>Ve recto hacia {destination}</string>
				<key>name</key>
				<string>Ve recto en {way_name}</string>
			</dict>
		</dict>
		<key>exit roundabout</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Siga {modifier}</string>
				<key>destination</key>
				<string>Siga {modifier} hacia {destination}</string>
				<key>name</key>
				<string>Siga {modifier} en {way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>Gire a la izquierda</string>
				<key>destination</key>
				<string>Gire a la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Gire a la izquierda en {way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>Gire a la derecha</string>
				<key>destination</key>
				<string>Gire a la derecha hacia {destination}</string>
				<key>name</key>
				<string>Gire a la derecha en {way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>Ve recto</string>
				<key>destination</key>
				<string>Ve recto hacia {destination}</string>
				<key>name</key>
				<string>Ve recto en {way_name}</string>
			</dict>
		</dict>
		<key>fork</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Mantente {modifier} en el cruce</string>
				<key>destination</key>
				<string>Mantente {modifier} en el cruce hacia {destination}</string>
				<key>name</key>
				<string>Mantente {modifier} en el cruce por {way_name}</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Gira la izquierda en el cruce</string>
				<key>destination</key>
				<string>Gira a la izquierda en el cruce hacia {destination}</string>
				<key>name</key>
				<string>Gira a la izquierda en el cruce por {way_name}</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Gira a la derecha en el cruce</string>
				<key>destination</key>
				<string>Gira a la derecha en el cruce hacia {destination}</string>
				<key>name</key>
				<string>Gira a la derecha en el cruce por {way_name}</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Mantente a la izquierda en el cruce</string>
				<key>destination</key>
				<string>Mantente a la izquierda en el cruce hacia {destination}</string>
				<key>name</key>
				<string>Mantente a la izquierda en el cruce por {way_name}</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Mantente a la derecha en el cruce</string>
				<key>destination</key>
				<string>Mantente a la derecha en el cruce hacia {destination}</string>
				<key>name</key>
				<string>Mantente a la derecha en el cruce por {way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>Haz un cambio de sentido</string>
				<key>destination</key>
				<string>Haz un cambio de sentido hacia {destination}</string>
				<key>name</key>
				<string>Haz un cambio de sentido en {way_name}</string>
			</dict>
		</dict>
		<key>merge</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Incorpórate {modifier}</string>
				<key>destination</key>
				<string>Incorpórate {modifier} hacia {destination}</string>
				<key>name</key>
				<string>Incorpórate {modifier} por {way_name}</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Incorpórate a la izquierda</string>
				<key>destination</key>
				<string>Incorpórate a la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Incorpórate a la izquierda por {way_name}</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Incorpórate a la derecha</string>
				<key>destination</key>
				<string>Incorpórate a la derecha hacia {destination}</string>
				<key>name</key>
				<string>Incorpórate a la derecha por {way_name}</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Incorpórate a la izquierda</string>
				<key>destination</key>
				<string>Incorpórate a la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Incorpórate a la izquierda por {way_name}</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Incorpórate a la derecha</string>
				<key>destination</key>
				<string>Incorpórate a la derecha hacia {destination}</string>
				<key>name</key>
				<string>Incorpórate a la derecha por {way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>Haz un cambio de sentido</string>
				<key>destination</key>
				<string>Haz un cambio de sentido hacia {destination}</string>
				<key>name</key>
				<string>Haz un cambio de sentido en {way_name}</string>
			</dict>
		</dict>
		<key>modes</key>
		<dict>
			<key>ferry</key>
			<dict>
				<key>default</key>
				<string>Coge el ferry</string>
				<key>destination</key>
				<string>Coge el ferry hacia {destination}</string>
				<key>name</key>
				<string>Coge el ferry {way_name}</string>
			</dict>
		</dict>
		<key>new name</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Continúa {modifier}</string>
				<key>destination</key>
				<string>Continúa {modifier} hacia {destination}</string>
				<key>name</key>
				<string>Continúa {modifier} por {way_name}</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Gira a la izquierda</string>
				<key>destination</key>
				<string>Gira a la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Gira a la izquierda por {way_name}</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Gira a la derecha</string>
				<key>destination</key>
				<string>Gira a la derecha hacia {destination}</string>
				<key>name</key>
				<string>Gira a la derecha por {way_name}</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Continúa ligeramente por la izquierda</string>
				<key>destination</key>
				<string>Continúa ligeramente por la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Continúa ligeramente por la izquierda por {way_name}</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Continúa ligeramente por la derecha</string>
				<key>destination</key>
				<string>Continúa ligeramente por la derecha hacia {destination}</string>
				<key>name</key>
				<string>Continúa ligeramente por la derecha por {way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>Continúa recto</string>
				<key>destination</key>
				<string>Continúa hacia {destination}</string>
				<key>name</key>
				<string>Continúa por {way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>Haz un cambio de sentido</string>
				<key>destination</key>
				<string>Haz un cambio de sentido hacia {destination}</string>
				<key>name</key>
				<string>Haz un cambio de sentido en {way_name}</string>
			</dict>
		</dict>
		<key>notification</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Continúa {modifier}</string>
				<key>destination</key>
				<string>Continúa {modifier} hacia {destination}</string>
				<key>name</key>
				<string>Continúa {modifier} por {way_name}</string>
			</dict>
			<key>uturn</key>
			<dict>
				<key>default</key>
				<string>Haz un cambio de sentido</string>
				<key>destination</key>
				<string>Haz un cambio de sentido hacia {destination}</string>
				<key>name</key>
				<string>Haz un cambio de sentido en {way_name}</string>
			</dict>
		</dict>
		<key>off ramp</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta abajo</string>
				<key>destination</key>
				<string>Coge la cuesta abajo hacia {destination}</string>
				<key>exit</key>
				<string>Coge la cuesta abajo {exit}</string>
				<key>exit_destination</key>
				<string>Coge la cuesta abajo {exit} hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta abajo por {way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta abajo de la izquierda</string>
				<key>destination</key>
				<string>Coge la cuesta abajo de la izquierda hacia {destination}</string>
				<key>exit</key>
				<string>Coge la cuesta abajo {exit} a tu izquierda</string>
				<key>exit_destination</key>
				<string>Coge la cuesta abajo {exit} a tu izquierda hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta abajo de la izquierda por {way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta abajo de la derecha</string>
				<key>destination</key>
				<string>Coge la cuesta abajo de la derecha hacia {destination}</string>
				<key>exit</key>
				<string>Coge la cuesta abajo {exit}</string>
				<key>exit_destination</key>
				<string>Coge la cuesta abajo {exit} hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta abajo de la derecha por {way_name}</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta abajo de la izquierda</string>
				<key>destination</key>
				<string>Coge la cuesta abajo de la izquierda hacia {destination}</string>
				<key>exit</key>
				<string>Coge la cuesta abajo {exit} a tu izquierda</string>
				<key>exit_destination</key>
				<string>Coge la cuesta abajo {exit} a tu izquierda hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta abajo de la izquierda por {way_name}</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta abajo de la derecha</string>
				<key>destination</key>
				<string>Coge la cuesta abajo de la derecha hacia {destination}</string>
				<key>exit</key>
				<string>Coge la cuesta abajo {exit}</string>
				<key>exit_destination</key>
				<string>Coge la cuesta abajo {exit} hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta abajo de la derecha por {way_name}</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta abajo de la izquierda</string>
				<key>destination</key>
				<string>Coge la cuesta abajo de la izquierda hacia {destination}</string>
				<key>exit</key>
				<string>Coge la cuesta abajo {exit} a tu izquierda</string>
				<key>exit_destination</key>
				<string>Coge la cuesta abajo {exit} a tu izquierda hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta abajo de la izquierda por {way_name}</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta abajo de la derecha</string>
				<key>destination</key>
				<string>Coge la cuesta abajo de la derecha hacia {destination}</string>
				<key>exit</key>
				<string>Coge la cuesta abajo {exit}</string>
				<key>exit_destination</key>
				<string>Coge la cuesta abajo {exit} hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta abajo de la derecha por {way_name}</string>
			</dict>
		</dict>
		<key>on ramp</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta</string>
				<key>destination</key>
				<string>Coge la cuesta hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta por {way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta de la izquierda</string>
				<key>destination</key>
				<string>Coge la cuesta de la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta de la izquierda por {way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta de la derecha</string>
				<key>destination</key>
				<string>Coge la cuesta de la derecha hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta de la derecha por {way_name}</string>
			</dict>
			<key>sharp left</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta de la izquierda</string>
				<key>destination</key>
				<string>Coge la cuesta de la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta de la izquierda por {way_name}</string>
			</dict>
			<key>sharp right</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta de la derecha</string>
				<key>destination</key>
				<string>Coge la cuesta de la derecha hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta de la derecha por {way_name}</string>
			</dict>
			<key>slight left</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta de la izquierda</string>
				<key>destination</key>
				<string>Coge la cuesta de la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta de la izquierda por {way_name}</string>
			</dict>
			<key>slight right</key>
			<dict>
				<key>default</key>
				<string>Coge la cuesta de la derecha</string>
				<key>destination</key>
				<string>Coge la cuesta de la derecha hacia {destination}</string>
				<key>name</key>
				<string>Coge la cuesta de la derecha por {way_name}</string>
			</dict>
		</dict>
		<key>phrase</key>
		<dict>
			<key>name and ref</key>
			<string>{name} ({ref})</string>
			<key>one in distance</key>
			<string>A {distance}, {instruction_one}</string>
			<key>two linked</key>
			<string>{instruction_one} y luego {instruction_two}</string>
			<key>two linked by distance</key>
			<string>{instruction_one} y luego en {distance}, {instruction_two}</string>
		</dict>
		<key>rotary</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<dict>
					<key>default</key>
					<string>Incorpórate en la rotonda</string>
					<key>destination</key>
					<string>En la rotonda sal hacia {destination}</string>
					<key>name</key>
					<string>En la rotonda sal por {way_name}</string>
				</dict>
				<key>exit</key>
				<dict>
					<key>default</key>
					<string>En la rotonda toma la {exit_number} salida</string>
					<key>destination</key>
					<string>En la rotonda toma la {exit_number} salida hacia {destination}</string>
					<key>name</key>
					<string>En la rotonda toma la {exit_number} salida por {way_name}</string>
				</dict>
				<key>name</key>
				<dict>
					<key>default</key>
					<string>En {rotary_name}</string>
					<key>destination</key>
					<string>En {rotary_name} sal hacia {destination}</string>
					<key>name</key>
					<string>En {rotary_name} sal por {way_name}</string>
				</dict>
				<key>name_exit</key>
				<dict>
					<key>default</key>
					<string>En {rotary_name} toma la {exit_number} salida</string>
					<key>destination</key>
					<string>En {rotary_name} toma la {exit_number} salida hacia {destination}</string>
					<key>name</key>
					<string>En {rotary_name} toma la {exit_number} salida por {way_name}</string>
				</dict>
			</dict>
		</dict>
		<key>roundabout</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<dict>
					<key>default</key>
					<string>Entra en la rotonda</string>
					<key>destination</key>
					<string>Entra en la rotonda y sal hacia {destination}</string>
					<key>name</key>
					<string>Entra en la rotonda y sal por {way_name}</string>
				</dict>
				<key>exit</key>
				<dict>
					<key>default</key>
					<string>Entra en la rotonda y toma la {exit_number} salida</string>
					<key>destination</key>
					<string>Entra en la rotonda y toma la {exit_number} salida hacia {destination}</string>
					<key>name</key>
					<string>Entra en la rotonda y toma la {exit_number} salida por {way_name}</string>
				</dict>
			</dict>
		</dict>
		<key>roundabout turn</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>En la rotonda siga {modifier}</string>
				<key>destination</key>
				<string>En la rotonda siga {modifier} hacia {destination}</string>
				<key>name</key>
				<string>En la rotonda siga {modifier} por {way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>En la rotonda gira a la izquierda</string>
				<key>destination</key>
				<string>En la rotonda gira a la izquierda hacia {destination}</string>
				<key>name</key>
				<string>En la rotonda gira a la izquierda por {way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>En la rotonda gira a la derecha</string>
				<key>destination</key>
				<string>En la rotonda gira a la derecha hacia {destination}</string>
				<key>name</key>
				<string>En la rotonda gira a la derecha por {way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>En la rotonda continúa recto</string>
				<key>destination</key>
				<string>En la rotonda continúa recto hacia {destination}</string>
				<key>name</key>
				<string>En la rotonda continúa recto por {way_name}</string>
			</dict>
		</dict>
		<key>turn</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>Gira {modifier}</string>
				<key>destination</key>
				<string>Gira {modifier} hacia {destination}</string>
				<key>name</key>
				<string>Gira {modifier} por {way_name}</string>
			</dict>
			<key>left</key>
			<dict>
				<key>default</key>
				<string>Gira a la izquierda</string>
				<key>destination</key>
				<string>Gira a la izquierda hacia {destination}</string>
				<key>name</key>
				<string>Gira a la izquierda por {way_name}</string>
			</dict>
			<key>right</key>
			<dict>
				<key>default</key>
				<string>Gira a la derecha</string>
				<key>destination</key>
				<string>Gira a la derecha hacia {destination}</string>
				<key>name</key>
				<string>Gira a la derecha por {way_name}</string>
			</dict>
			<key>straight</key>
			<dict>
				<key>default</key>
				<string>Continúa recto</string>
				<key>destination</key>
				<string>Continúa recto hacia {destination}</string>
				<key>name</key>
				<string>Continúa recto por {way_name}</string>
			</dict>
		</dict>
		<key>use lane</key>
		<dict>
			<key>default</key>
			<dict>
				<key>default</key>
				<string>{lane_instruction}</string>
			</dict>
			<key>no_lanes</key>
			<dict>
				<key>default</key>
				<string>Continúa recto</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
